nav.opaque-navbar{
    background-color: rgb(11, 31, 34);
    border-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    transition: background-color .5s ease 0s;
    height: 60px;
}

.navbar-brand .heading{
    font-size: large;
    font-weight: bold;
    color: crimson;
}
.inline{
    display: inline;
}
