.container{
    background-color:rgb(224, 224, 224);
    background-blend-mode: soft-light;
    margin: 0;
    margin-top: 20px;
    padding: 20%;
    /* padding-top: 150px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  .username{
    width:250px;
    margin-bottom: 10%;
    padding: 2.5%;
    background-color: #4CAF50;
    font-size: 20px;
    color:rgb(85, 20, 138);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 20%;
  }
  .repository{
    width:250px;
    margin-bottom: 10%;
    padding: 2.5%;
    background-color: #4CAF50;
    font-size: 20px;
    color:rgb(85, 20, 138);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 20%;
  }
  /* button{
    align-items: center;
    padding: 30px;
    background-color:rgb(85, 20, 138)
  } */

  /* .users{
    background-color:rgb(85, 20, 138)
  } */