<div class="container">
    <h1>Welcome to Github Search </h1>
    <p>This webpage allows you to search through github for people you are interested in or repositories that may guide you on your coding way.</p>
    <div class="users"> 
      <button class="username" >
        <a [routerLink]="['/users']"routerLinkActive='active'>search using username</a></button>
    </div>
    <div class="repo">
      <button class="repository"><a routerLink="/repository" routerLinkActive='active'>search using repository name</a></button>
    </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
